@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");
:root {
  --moderate-violet: hsl(263, 55%, 52%);
  --ery-dark-grayish-blue: hsl(217, 19%, 35%);
  --very-dark-blackish-blue: hsl(219, 29%, 14%);
  --White: hsl(0, 0%, 100%);
  --light-gray: hsl(0, 0%, 81%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

body {
  background-color: var(--light-grayish-blue);
  font-family: "Barlow Semi Condensed", sans-serif;
  max-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials-container {
  width: 82.2%;
  margin: 4.6em 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  gap: 24px;
}

.testimonials-container .testimonials-contianer {
  width: 100%;
  padding: 1.6em;
  border-radius: 0.6em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  -webkit-box-shadow: 0.8em 1.6em 1.8em var(--light-gray);
          box-shadow: 0.8em 1.6em 1.8em var(--light-gray);
}

.testimonials-container .testimonials-contianer .personal_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.testimonials-container .testimonials-contianer .personal_info .testimonials__img {
  border-radius: 50em;
  width: 2.15em;
  height: 2.15em;
  margin-right: 1em;
}

.testimonials-container .testimonials-contianer h2 {
  font-size: 1.24em;
  font-weight: 500;
  margin-top: 0.8em;
}

.testimonials-container .testimonials-contianer h3 {
  font-size: 0.8em;
  font-weight: 600;
  margin-bottom: 0.2em;
}

.testimonials-container .testimonials-contianer h4 {
  font-size: 0.7em;
  font-weight: 500;
}

.testimonials-container .testimonials-contianer p {
  font-size: 0.8em;
  font-weight: 500;
  margin-top: 1.2em;
  line-height: 1.5;
}

.testimonials1 {
  background-color: var(--moderate-violet);
  background-image: url(/images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: 92% 0%;
  color: var(--light-gray);
}

.testimonials1 img {
  border: 2px solid rgba(207, 207, 207, 0.75);
}

.testimonials1 .testimonials__prof {
  opacity: 50%;
}

.testimonials1 .testimonials__paragrafh {
  opacity: 75%;
  padding-right: 1em;
}

.testimonials1 .testimonials__title {
  color: var(--White);
}

.testimonials2 {
  background-color: var(--ery-dark-grayish-blue);
  color: var(--light-gray);
}

.testimonials2 img {
  border: 2px solid var(--ery-dark-grayish-blue);
}

.testimonials2 .testimonials__prof {
  opacity: 50%;
}

.testimonials2 .testimonials__paragrafh {
  opacity: 75%;
}

.testimonials2 .testimonials__title {
  color: var(--White);
}

.testimonials3 {
  background-color: var(--White);
  color: var(--ery-dark-grayish-blue);
}

.testimonials3 img {
  border: 2px solid var(--White);
}

.testimonials3 .testimonials__prof {
  opacity: 50%;
}

.testimonials3 .testimonials__paragrafh {
  opacity: 75%;
}

.testimonials3 .testimonials__title {
  color: var(--ery-dark-grayish-blue);
}

.testimonials4 {
  background-color: var(--very-dark-blackish-blue);
  color: var(--light-gray);
}

.testimonials4 img {
  border: 2px solid var(--moderate-violet);
}

.testimonials4 .testimonials__prof {
  opacity: 50%;
}

.testimonials4 .testimonials__paragrafh {
  opacity: 75%;
}

.testimonials4 .testimonials__title {
  color: var(--White);
}

.testimonials5 {
  background-color: var(--White);
  color: var(--ery-dark-grayish-blue);
}

.testimonials5 img {
  border: 2px solid var(--White);
}

.testimonials5 .testimonials__prof {
  opacity: 50%;
}

.testimonials5 .testimonials__paragrafh {
  opacity: 75%;
}

.testimonials5 .testimonials__title {
  color: var(--ery-dark-grayish-blue);
}

@media only screen and (min-width: 700px) {
  .testimonials1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: testimonial1;
  }
  .testimonials2 {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: testimonial2;
  }
  .testimonials3 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: testimonial3;
  }
  .testimonials4 {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: testimonial4;
  }
  .testimonials5 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 4;
    grid-area: testimonial5;
  }
  .testimonials-container {
    width: 77%;
    padding: 1.6em;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    gap: 30px;
        grid-template-areas: "testimonial1 testimonial1 testimonial2 testimonial5" "testimonial3 testimonial4 testimonial4 testimonial5";
  }
  .testimonials1 {
    background-position: 82% 0%;
  }
}
/*# sourceMappingURL=styles.css.map */